.ui-datalist {
	border: none;
}

.ui-datalist-item {
	list-style: none !important;
	margin-bottom: 10px;
}

.ordering-header {
	border: none;
	border-bottom:  2px solid #0288d1;
	padding-bottom: 10px !important;
}

.ordering-header .title {
	font-size: 24px;
}

.item-header {
	border: 1px solid black;
	text-align: center;
	width: 100px;
	float: left;
	margin-right: 20px;
	padding: 10px;
}

.item-content {
	padding: 10px;
}

table, tr, td {
	border: none !important;
}